@model List<Elearn.Models.Asign>

@{
    ViewData["Title"] = "Mano testai";
}

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <th scope="col">Testo pavadinimas</th>
      <th scope="col">Balas</th>
    </tr>
  </thead>
  <tbody>
@for(int i=0;i < Model.Count; i++)
{
    string Mark = Model[i].Result.SingleOrDefault() != null ?
    Model[i].Result.SingleOrDefault().Mark.ToString() : "-1" ;
    string Date = Model[i].Result.SingleOrDefault() != null && Model[i].Result.SingleOrDefault().CompleteTime!= null ?
      Model[i].Result.SingleOrDefault().CompleteTime.ToString() : "Nespręsta" ;
    if(Date == "1/1/2000 12:00:00 AM")
      Date = "Nespręsta";
    string MarkPercent = Mark + "%";
    @:
    <tr>
    <th scope="row">@Date</th>
    <td>@Model[i].Test.Name</td>
    <td>
      @if(Mark == "-2")
      {
        <text>Laukiama rezultato</text>
      }
      else if (Mark == "-1")
      {
        <text>Testas nespręstas</text>
      }
      else
      {
        <div class="progress" style="height: 30px;"> 
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="@Mark" aria-valuemin="0" aria-valuemax="100" style="width: @MarkPercent">@MarkPercent</div>
        </div>
      }
        
    </td>
    </tr>

} 
  </tbody>
</table>