@model List<Elearn.Models.Asign>

@{
    ViewData["Title"] = "Priskirti testai";
}

<table class="table table-hover table-responsive-lg">
  <thead>
    <tr>
      <th scope="col">Pabaigos data</th>
      <th scope="col">Testo pavadinimas</th>
      <th scope="col">Skirta</th>
      <th scope="col">Pažymys</th>
      <th scope="col">Valdymas</th>
    </tr>
  </thead>
  @for(int i=0;i< @Model.Count; i++)
  {
    @:
    <tr>
    <th scope="row">@Model[i].ExpireDate</th>
    <td>@Model[i].Test.Name</td>
    <td>@Model[i].Applicant.UserName</td>
    <td>
      @if(Model[i].Result.Count != 0)
      {
        if(Model[i].Result.SingleOrDefault().Mark >= 0)
        {
          @Model[i].Result.SingleOrDefault().Mark
        }
        else if(Model[i].Result.SingleOrDefault().Mark == -1)
        {
          <text>Nespręsta</text>
        }
        else if(Model[i].Result.SingleOrDefault().Mark == -2)
        {
          <text>Neįvertinta</text>
        }
      }
      else
      {
        <text>0</text>
      }


    </td>
    <td><input type="button" value="Delete" onclick="location.href='@Url.Action("Delete", "Assign")?id=@Model[i].Id'" /></td>
    </tr>
  } 
  <tbody>

  </tbody>
</table>