@model List<Elearn.Models.AspNetUsers>

@{
    ViewData["Title"] = "Assign new tests";
    if(ViewData["msg"]!= null && ViewData["msg"]!="")
    {

        <script>
        alert(@((string)ViewData["msg"]));
        </script>
        
    }
}
<form asp-action="AddNewAssigns">
    <h3>Chosen test:</h3>
    @Html.DropDownList("Test", ViewBag.TestId, "Choose test", new { @class = "form-control" })
    <h3>Due:</h3>
    <input type="datetime-local" name ="ExprDate"/>
    <h3>Choose unit category:</h3>
    @Html.DropDownList("Category", ViewBag.CategoryId, "Choose category", new { @class = "form-control" })
    </br>
    <input type="submit" value="Assign to category" class="btn btn-primary" name ="assignCat"/>
    </br>
    </br>
    <h3>Or choose users from the list:</h3>
    <table class="table table-hover">
    <thead>
        <tr>
        <th scope="col">User</th>
        <th scope="col">Assign test</th>
        </tr>
    </thead>
        <tbody>
        @for(int i=0;i< @Model.Count; i++)
        {
        @:
            <tr>
                <th scope = "row">
                    @Model[i].UserName
                </th>
                <td>
                    <input type="checkbox" name="@Model[i].Id">
                </td>
            </tr>      
        } 
        </tbody>
    </table>
     <div class="form-group">
        <input type="submit" value="Assign test to users" class="btn btn-primary" name="assignusers" />
    </div>
</form>