@model List<Elearn.Models.Asign>

@{
    ViewData["Title"] = "Assigned tests";
}

<table class="table table-hover table-responsive-lg">
  <thead>
    <tr>
      <th scope="col">End date</th>
      <th scope="col">Test name</th>
      <th scope="col">For</th>
      <th scope="col">Mark</th>
      <th scope="col"></th>
    </tr>
  </thead>
  @for(int i=0;i< @Model.Count; i++)
  {
    @:
    <tr>
    <th scope="row">@Model[i].ExpireDate</th>
    <td>@Model[i].Test.Name</td>
    <td>@Model[i].Applicant.UserName</td>
    <td>
      @if(Model[i].Result.Count != 0)
      {
        if(Model[i].Result.SingleOrDefault().Mark >= 0)
        {
          <text>@Model[i].Result.SingleOrDefault().Mark</text>
        }
        else if(Model[i].Result.SingleOrDefault().Mark == -1)
        {
          <text>Not solved</text>
        }
        else if(Model[i].Result.SingleOrDefault().Mark == -2)
        {
          <text>Not rated</text>
        }
      }
      else
      {
        <text>0</text>
      }


    </td>
    <td><input type="button" class="btn btn-outline-danger" value="Delete" onclick="location.href='@Url.Action("Delete", "Assign")?id=@Model[i].Id'" /></td>
    </tr>
  } 
  <tbody>

  </tbody>
</table>